<article id="user-show-<%= @user.id%>" class = "user_show">
  <h2><span>My Page</span></h2>
  <section class="flex sp-block sp-center">
    <div class="sp-center text-center">
      <%= image_tag '/assets/avatar.png', class: 'avatar-icon' %>
    </div>
    <div class="margin-left-30 sp-center">
      <p>sample text sample text sample text sample text sample text sample text sample text sample textsample text sample text sample text sample text</p>
      <div class="text-right"><p><a>Link</a></p></div>
    </div>
  </section>
    <div class="row_show">
      <% @user.post.each do |post| %>
          <section class="margin-top-10 content">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.photo.url, alt: 'sample' %>
            <% end %>
            <div class="body">
              <h4><%= link_to post.title, post_path(post.id) %></h4>
              <p><%= post.body %></p>
              <p class="day"><a><%= post.created_at %></a></p>
            </div>
          </section>
      <% end %>
    </div>
</article>