<% content_for(:title, '.title') %>
<article id="user-show-<%= @user.id%>" class = "user_show">
  <h2><span><%= "#{@user.nickname}さんのページ" %></span></h2>
  <section class="profile">
    <div class="icon">
      <%= image_tag @user.avatar.url, class: 'avatar-icon' %>
    </div>
    <div class="body">
      <div class="text-center">
        <h4><%= @user.nickname %></h4>
        <%= simple_format @user.decorate.full_name %>
      </div>
      <p><%= @user.profile || "no profile" %></p>
      <% if @user == current_user %>
      <div class="text-right">
        <p><%= link_to t('.to_edit'), edit_user_path %></p>
      </div>
      <% end %>
    </div>
  </section>
    <div class="row_show">
      <% @user.posts.each do |post| %>
          <section class="margin-top-10 content">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.photo.url, alt: post.title %>
            <% end %>
            <div class="body">
              <h4><%= link_to post.title, post_path(post.id) %></h4>
              <%= simple_format post.body %>
              <%= simple_format l(post.created_at, format: :long), class: 'day' %>
            </div>
          </section>
      <% end %>
    </div>
</article>