<header>
  <h1><%= link_to 'ひとときアルバム', posts_path %></h1>
  <nav>
    <ul>
      <li><%= link_to t('header.post_index'), posts_path %></li>
      <li><%= link_to t('header.post'), new_post_path %></li>
      <li><%= link_to t('header.mypage'), user_path(current_user.id) %></li>
      <li><%= link_to t('header.logout'), logout_path %></li>
    </ul>
  </nav>
</header>