<section class="content">
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.photo.url, class: 'main' %>
  <% end %>
  <div class="body">
    <h4><%= link_to post.title, post_path(post.id) %></h4>
    <div class="text-right">
      <%= link_to user_path(post.user.id), class: 'icon' do %>
        <%= image_tag post.user.avatar.url, class: 'avatar-icon' %>
        <%= post.user.nickname %>
      <% end %>
    </div>
    <%= simple_format post.body if post.body.present? %>
    <%= simple_format l(post.created_at,format: :long), class: 'day text-right' %>
  </div>
  <%= image_tag 'tape.png', class: 'tape' %>
</section>
