  <section class="content">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.photo.url %>
    <% end %>
    <div class="body">
      <h4><%= link_to post.title, post_path(post.id) %></h4>
      <%= simple_format post.body %>
      <%= simple_format l(post.created_at,format: :long), class: 'day' %>
    </div>
    <%= image_tag 'tape.png', class: 'tape' %>
  </section>