<% content_for(:title, t('.title')) %>
<article>
<h2><span><%= t('.title') %></span></h2>
  <section class="show border-none">
    <%= image_tag @post.photo.url %>
    <div class="bodys">
      <h3><%= @post.title %></h3>
      <div class="text-right margin-right-1_6">
        <%= link_to user_path(@post.user.id), class: 'icon' do %>
          <%= image_tag @post.user.avatar.url, class: 'avatar-icon' %>
          <%= @post.user.nickname %>
        <% end %>
      </div>
      <%= simple_format l(@post.created_at,format: :long), class: 'day' %>
      <%= simple_format @post.body if @post.body.present? %>
      <% if @post.user == current_user %>
        <div class="text-right">
          <%= link_to edit_post_path do %>
            <span class="material-symbols-outlined">edit_note</span>
          <% end %>
          <%= link_to @post, data: { turbo_method: :delete } do %>
            <span class="material-symbols-outlined">delete</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= image_tag 'tape.png', class: 'tape' %>
  </section>
</article>