<article id="login">
<h2>Login</h2>
  <section>
    <%= form_with id: 'login', remote: true do |f| %>
    <form>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email%>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="block text-center margin-top-10">
        <%= f.submit 'ログイン'%>
      </div>
    </form>
    <% end %>
    <div class="block text-center">
      <%= link_to '新規登録はこちら', new_user_path %> / <a>Forgot Password</a>
    </div>
  </section>
</article>