<% content_for(:title, t('.title')) %>
<article id="login">
  <h2><span><%= t('.title') %><span></h2>
  <section>
    <%= form_with do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email%>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="block text-center margin-top-10">
        <%= f.submit t('.login') %>
      </div>
    <% end %>
    <div class="block text-center">
      <%= link_to t('.to_signin_page'), new_user_path %>
    </div>
  </section>
</article>